.DS_Store
cardio_disease_detection/data/DS_Store
imdb_tfx_nlp_pipeline_local/data/
.ipynb_checkpoints/server-jvsc-9f89b97f-fdb5-4ea3-a808-085e28baf73f-checkpoint.ipynb
server-jvsc-9f89b97f-fdb5-4ea3-a808-085e28baf73f.ipynb
imdb_tfx_nlp_pipeline_local/.ipynb_checkpoints/tfx_tuts_colab-checkpoint.ipynb
imdb_tfx_nlp_pipeline_localdata.zip
imdb_tfx_nlp_pipeline_local/data.zip
